.img-wrapper {
  width: 100%;
  height: 138px;
  overflow: hidden;
  border-radius: 8px;
  margin-bottom: 50px;
  background-image: url('../assets/header.jpg');
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchBar {
  width: 70%;
  height: 55px;
  padding: 10px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.listItems {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
}

.material-icons {
  font-family: 'Material Icons';
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  color: #cccccc;
}

.location {
  height: 48px;
  padding: 10px;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.locationHeading {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #b9bdcf;
}
